.main-container {
  min-height: 100vh;
}

.MuiTypography-root.green-title {
  max-width: 380px;
  color: #93edd9;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.container-box {
  background-color: #ecf5f7;
  border-radius: 10px;
}

.notation-container {
  max-height: 60vh;
  overflow: auto;
  overflow-x: hidden;
}

.error {
  color: red;
}
